@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: silver;
    border: 2px solid silver;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.container {
    max-width: 100%;
    height: 100vh;
    padding: 115px 40px 40px;
    overflow-y: auto;
    background: #f8f8f8;
}

.sidebar a,
.activeDiv {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.sidebar a.active::before,
.activeDiv::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    border-radius: 4px;
    background: rgb(8, 145, 178);
}

.sidebar a.active,
.activeDiv {
    color: rgb(8, 145, 178);
}

.sidebar .cell:hover,
.extraModal a:hover {
    color: rgb(8 145 178);
}

.global_add_btn {
    color: white;
    background-color: rgb(8 145 178);
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 1rem;
    padding: 4px 24px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.global_add_btn:hover {
    color: white;
    background-color: rgb(8, 114, 141);
}

.more::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -6px;
    z-index: 0;
    transform: skew(45deg);
    background: white;
}

.students .more::before,
.notices .more::before,
.studentPayHistory .more::before,
.column .more::before {
    transform: skew(-45deg);
    left: 90%;
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(-70%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-jump {
    animation: jump 1s infinite;
}

.animate-jump:nth-child(2) {
    animation: jump 1.1s infinite;
}

.animate-jump:nth-child(3) {
    animation: jump 1.2s infinite;
}

.admins li {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 20%;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

.loader_dots_jump {
    width: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(circle closest-side, rgb(156 163 175) 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}

.roomsTable th {
    padding: 12px 5px;
    font-size: 12px;
}

.roomsTable td {
    padding: 12px 5px;
    font-size: 14px;
}

.courseCard:hover h2 {
    color: rgb(8, 145, 178);
}

#downloadExelBtn:hover::before {
    content: "Export to exel";
    position: absolute;
    top: -36px;
    font-size: 12px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid silver;
    color: black;
    background: white;
}

#downloadExelBtn:hover::after {
    content: "";
    position: absolute;
    top: -11px;
    z-index: 15;
    width: 8px;
    height: 8px;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    transform: rotate(45deg);
    background: white;
}

.atd_modal::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: rgb(229 231 235);
}

.underscore {
    border-bottom: 2px solid rgb(8, 145, 178);
    color: rgb(8, 145, 178);
}

@media screen and (min-width: 1700px) {
    .global_add_btn {
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding: 6px 26px;
    }

    #downloadExelBtn:hover::before {
        top: -40px;
        font-size: 15px;
        width: 120px;
    }
}

.reports>div {
    border: 1px solid silver;
}

.reports p {
    border-left: 1px solid silver;
    padding: 5px 10px;
    cursor: pointer;
}

.reports p:hover {
    color: rgb(8, 114, 141);
    text-decoration: underline;
}

.reports p:first-child {
    border-left: none;
}