@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", "sans-serif";
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: silver;
    border: 2px solid silver;
}

.sidebar a.active::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    border-radius: 4px;
    background: rgb(8, 145, 178);
}

.sidebar a.active {
    color: rgb(8, 145, 178);
}

.more::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -6px;
    z-index: 0;
    transform: skew(45deg);
    background: white;
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(-70%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-jump {
    animation: jump 1s infinite;
}

.animate-jump:nth-child(2) {
    animation: jump 1.1s infinite;
}

.animate-jump:nth-child(3) {
    animation: jump 1.2s infinite;
}